# Some of these are related to eclipse. So i keep them out of my repo

#files being edited
*~

# make and build files
*.o
*.a
*.ps
*.pdf

# files that are NOT *.* (for instance, executable files)
!*.*

# files that are NOT either the Makefile or the makefile
!?akefile

